* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.header {
    display: flex;
    text-align: center;
    justify-content: space-between;    
    padding-top: 10px;
    padding-right: 80px;
    padding-left: 80px;
    background-color: #1F2937;
}

.logo {
    font-size: 16px;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 12px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.basicinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    background-color: #1F2937;
    height: 200px;
}

.infotext {
    font-size: 14px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

.leftinfo {
    width: 300px;
    padding: 40px;
}

.snowynight {
    width: 400px;
    height: 250px;
    padding: 40px;
}

.title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    padding-bottom: 50px;
}

.imagetextcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    font-size: 12px;
    width: 140px;
    height: 160px;
}

.crop {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 50%;
    border: 2px solid #88b0e9;
    border-radius: 15px;
}

.herotext {
    font-size: 36px;
    color: #f9faf8;
    font-weight: 900;
}

.quotesection {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    height: 180px;
}

.quote {
    width: 600px;
    font-size: 24px;
    font-style: italic;
    color: #1f2937;
    padding: 20px;
}

.author {
    font-weight: bold;
}

.calltoaction {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    padding-left: 80px;
    padding-right: 80px;
    height: 200px;
}

.calltoactionbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882f6;
    width: 600px;
    height: 100px;
    border-radius: 5px;
    color: #E5E7EB;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.callbold {
    font-size: 18px;
    font-weight: 900;
}

.calltext {
    font-size: 12px;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #f9faf8;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 80px;
    padding-left: 80px;
    background-color: #1F2937;
}

