* {
    border: 2px hotpink;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;    
    padding: 20px;
    background-color: lightpink;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.info {
    display: flex;
    padding: 20px;
    background-color: lightpink;
}


.snowynight {
    width: 300px;
}